.woocommerce-ordering {
    float: right;
}
.woocommerce-result-count{
    float: left;
}

.woocommerce-listing .listing-item{
    width: 33%;
}

@media only screen and (max-width: 992px){
    .woocommerce-listing .listing-item{
        width: 50%;
    }
}

@media only screen and (max-width: 576px){
    .woocommerce-listing .listing-item{
        width: 100%;
    }
}

.woocommerce-listing .listing-item a {
    color: #fff;
    float: none;
}

.woocommerce-category-location{
    padding: 17px 0 25px 0;
}

.woocommerce-listing .btn.circle-btn{
    border-radius: 6px;
} 

.woocommerce-listing .btn.circle-btn::before{
    border: none;
}

.woocommerce-listing .price{
    padding: 0;
    margin: 10px 0;
}

.orderby{
    width: 100%;
    background: #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.21);
}